<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ALLTALE{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/no-bg/alltale-no-bg-fit.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/BASE.css') }}">
    {% block head_extra %}
    {% endblock %}
</head>
<body>
    <div id="soft-loader" class="soft-loader-bar"></div>
    <main id="root-content">
        {% block content %}
        {% endblock %}
        <footer>© 2025 ALLTALE. All rights reserved.</footer>
    </main>
    <script src="{{ url_for('static', filename='scripts/BASE.js') }}" defer></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>