{% extends "BASE.html" %}

{% block title %}Login - ALLTALE | Faith, Prayer, Reflection{% endblock %}
{% block head_extra %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}


{% block content %}
<div class="login-main-container">
    <div class="main-card-holder">
        <div class="title-container">
            <img src="{{ url_for('static', filename='icons/no-bg/alltale-no-bg.png') }}" alt="ALLTALE Login Logo" id="alltale-logo">
            <h3 class="title-login">ALLTALE</h3>
        </div>
        <form action="{{ url_for('login.login_post') }}" method="POST" class="form-container">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="sunod-next", value="{{ request.args.get('sunod', '/') }}">

            <label for="username">Author</label>
            <div class="input-w-icon">
                <svg class="input-icon-username" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="6" r="4" stroke="currentColor" stroke-width="1.25"/>
                    <path d="M19.9975 18C20 17.8358 20 17.669 20 17.5C20 15.0147 16.4183 13 12 13C7.58172 13 4 15.0147 4 17.5C4 19.9853 4 22 12 22C14.231 22 15.8398 21.8433 17 21.5634" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"/>
                </svg>
                <input 
                    type="text" 
                    name="username" 
                    id="username" 
                    placeholder="Author's Name" 
                    autocomplete="off" 
                    required 
                >
            </div>

            <label for="password">Passcode</label>
            <div class="input-w-icon">
                <svg class="input-icon-password" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.0635 12.5C21.6591 11.4704 22 10.275 22 9C22 5.13401 18.866 2 15 2C11.134 2 8 5.13401 8 9C8 12.866 11.134 16 15 16C16.0736 16 17.0907 15.7583 18 15.3264" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"/>
                    <circle cx="15" cy="9" r="2" stroke="currentColor" stroke-width="1.25"/>
                    <path d="M3.5 20.5L9.5 14.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"/>
                    <path d="M6 21L4.5 19.5M6.5 17.5L8 19" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"/>
                </svg>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Author's Passcode" 
                    autocomplete="off" 
                    required
                >
            </div>
            <button type="submit" class="btn-login" id="btn-login">Login</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/login.js') }}" defer>"></script>
{% endblock %}
